In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../Data/train.csv')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22005 entries, 0 to 22004
Data columns (total 30 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   job_level                              22005 non-null  object
 1   job_duration_in_current_job_level      22005 non-null  float64
 2   person_level                           22005 non-null  object
 3   job_duration_in_current_person_level   22005 non-null  float64
 4   job_duration_in_current_branch         22005 non-null  float64
 5   Employee_type                          21993 non-null  object
 6   Employee_status                        22005 non-null  object
 7   gender                                 22005 non-null  object
 8   age                                    22005 non-null  int64
 9   marital_status_maried(Y/N)             22005 non-null  object
 10  number_of_dependences                  22005 non-null  int64
 11  number_of_dependences (male)           22005 non-null  int64
 12  number_of_dependences (female)         22005 non-null  int64
 13  Education_level                        18397 non-null  object
 14  GPA                                    18502 non-null  float64
 15  year_graduated                         18502 non-null  object
 16  job_duration_as_permanent_worker       19950 non-null  float64
 17  job_duration_from_training             22005 non-null  int64
 18  branch_rotation                        22005 non-null  int64
 19  job_rotation                           22005 non-null  int64
 20  assign_of_otherposition                22005 non-null  int64
 21  annual leave                           22005 non-null  int64
 22  sick_leaves                            22005 non-null  int64
 23  Best Performance                       22005 non-null  int64
 24  Avg_achievement_%                      15716 non-null  float64
 25  Last_achievement_%                     15703 non-null  float64
 26  Achievement_above_100%_during3quartal  15703 non-null  float64
 27  achievement_target_1                   15278 non-null  object
 28  achievement_target_2                   15278 non-null  object
 29  achievement_target_3                   15278 non-null  object
dtypes: float64(8), int64(11), object(11)
memory usage: 5.0+ MB

In [5]:
df.head()

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,Employee_status,gender,age,marital_status_maried(Y/N),...,assign_of_otherposition,annual leave,sick_leaves,Best Performance,Avg_achievement_%,Last_achievement_%,Achievement_above_100%_during3quartal,achievement_target_1,achievement_target_2,achievement_target_3
0,JG05,8.00,PG06,8.00,0.50,RM_type_A,Permanent,Female,1964,Y,...,0,8,0,0,68.85,72.53,0.0,achiev_50%-100%,achiev_< 50%,reached
1,JG04,5.17,PG04,2.00,1.25,RM_type_A,Permanent,Male,1979,Y,...,9,3,0,0,94.81,101.13,3.0,achiev_50%-100%,achiev_50%-100%,reached
2,JG04,1.83,PG03,1.83,1.50,RM_type_A,Permanent,Male,1980,Y,...,0,6,0,0,72.82,71.30,0.0,achiev_100%-150%,achiev_< 50%,not_reached
3,JG04,7.92,PG04,4.00,0.17,RM_type_A,Permanent,Male,1984,Y,...,0,3,0,0,86.89,90.09,2.0,achiev_50%-100%,achiev_50%-100%,not_reached
4,JG04,1.83,PG03,1.83,2.08,RM_type_A,Permanent,Male,1984,Y,...,11,2,1,1,95.17,100.72,2.0,achiev_< 50%,achiev_> 1.5,not_reached

# Achievement Target 1

In [106]:
df['achievement_target_1'].value_counts()

achiev_50%-100%           7679
achiev_100%-150%          2519
achiev_< 50%              2065
Pencapaian 50%-100%       1531
achiev_> 1.5               597
Pencapaian 100%-150%       485
Tidak diberikan target     178
Pencapaian < 50%           175
Pencapaian > 1.5            49
Name: achievement_target_1, dtype: int64

In [7]:
df.groupby(['achievement_target_1'])['Best Performance'].value_counts(normalize=True)

achievement_target_1    Best Performance
Pencapaian 100%-150%    0                   0.868041
                        1                   0.131959
Pencapaian 50%-100%     0                   0.866101
                        1                   0.133899
Pencapaian < 50%        0                   0.857143
                        1                   0.142857
Pencapaian > 1.5        0                   0.938776
                        1                   0.061224
Tidak diberikan target  0                   0.837079
                        1                   0.162921
achiev_100%-150%        0                   0.857086
                        1                   0.142914
achiev_50%-100%         0                   0.845943
                        1                   0.154057
achiev_< 50%            0                   0.847458
                        1                   0.152542
achiev_> 1.5            0                   0.845896
                        1                   0.154104
Name: Best Performance, dtype: float64

In [65]:
df['achievement_target_1'].apply(achievement_target1).value_counts()

achiev_50%-100%           9210
achiev_100%-150%          3004
achiev_< 50%              2240
achiev_> 1.5               646
Tidak diberikan target     178
Name: achievement_target_1, dtype: int64

In [64]:
df['achievement_target_1'].apply(achievement_target1).value_counts().sum()

15278

# Achievement Target 2

In [70]:
df['achievement_target_2'].value_counts().sum()

15278

In [8]:
df.groupby(['achievement_target_2'])['Best Performance'].value_counts(normalize=True)

achievement_target_2    Best Performance
Pencapaian 100%-150%    0                   0.868966
                        1                   0.131034
Pencapaian 50%-100%     0                   0.886364
                        1                   0.113636
Pencapaian < 50%        0                   0.860571
                        1                   0.139429
Pencapaian > 1.5        0                   0.859155
                        1                   0.140845
Tidak diberikan target  0                   0.880682
                        1                   0.119318
achiev_100%-150%        0                   0.871351
                        1                   0.128649
achiev_50%-100%         0                   0.845731
                        1                   0.154269
achiev_< 50%            0                   0.846779
                        1                   0.153221
achiev_> 1.5            0                   0.840671
                        1                   0.159329
Name: Best Performance, dtype: float64

In [66]:
def achievement_target2(x):
    if x == 'Pencapaian 50%-100%':
        return 'achiev_50%-100%'
    elif x == 'Pencapaian 100%-150%':
        return 'achiev_100%-150%'
    elif x == 'Pencapaian < 50%':
        return 'achiev_< 50%'
    elif x == 'Pencapaian > 1.5':
        return 'achiev_> 1.5'
    else:
        return x

In [71]:
df['achievement_target_2'].apply(achievement_target2).value_counts()

achiev_< 50%              10157
achiev_50%-100%            2850
achiev_100%-150%           1070
achiev_> 1.5               1025
Tidak diberikan target      176
Name: achievement_target_2, dtype: int64

In [68]:
df['achievement_target_2'].apply(achievement_target2).value_counts().sum()

15278

# Achievement Target 3

In [79]:
def achievement_target3(x):
    if x == 'not reached':
        return 'not_reached'
    else:
        return x

In [78]:
df['achievement_target_3'].value_counts()

reached        10985
not reached     4275
not_reached       18
Name: achievement_target_3, dtype: int64

In [74]:
df['achievement_target_3'].value_counts().sum()

15278

In [9]:
df.groupby(['achievement_target_3'])['Best Performance'].value_counts(normalize=True)

achievement_target_3  Best Performance
not reached           0                   0.838129
                      1                   0.161871
not_reached           0                   0.722222
                      1                   0.277778
reached               0                   0.856259
                      1                   0.143741
Name: Best Performance, dtype: float64

In [81]:
df['achievement_target_3'].apply(achievement_target3).value_counts()

reached        10985
not_reached     4293
Name: achievement_target_3, dtype: int64

# Year Graduated

In [46]:
df['year_graduated'].value_counts()

2013    2552
2011    2290
2012    2225
2014    2031
2010    1872
2009    1365
2008    1170
2015     946
2007     703
0        440
2006     433
2016     417
2005     314
2004     297
2003     253
2017     212
2002     198
2001     122
\N        87
2018      72
2000      71
9999      66
1999      42
1996      41
1998      35
1995      32
1994      27
1993      22
1992      18
2999      17
1987      15
1997      15
1991      14
2019      12
1988      12
1990      11
1989      10
1985       8
1986       8
2201       5
-          4
1983       3
2200       3
201        2
1984       2
____       2
102        1
2044       1
2031       1
3016       1
2020       1
9464       1
Name: year_graduated, dtype: int64

In [83]:
df[(df['year_graduated']>='1900')&(df['year_graduated']<='2020')]['year_graduated']

0        1987
1        2001
2        2007
3        2006
6        2008
         ...
21999    2009
22000    2009
22001    2014
22002    2006
22003    2010
Name: year_graduated, Length: 17873, dtype: object

In [22]:
df.shape

(22005, 30)

In [89]:
def year_graduated(x):
    try:
        x = int(x)
        if not (x >= 1900 and x <= 2020):
            return 'invalid'
        else:
            return x
    except:
        x = x

In [94]:
df['year_graduated'].apply(year_graduated).head()

0    1987
1    2001
2    2007
3    2006
4    None
Name: year_graduated, dtype: object

## Lot of Missing Value

In [38]:
df['year_graduated'].isnull().sum()

3503

In [44]:
df.groupby(['year_graduated'])['Best Performance'].value_counts(normalize=True)

year_graduated  Best Performance
-               0                   0.750000
                1                   0.250000
0               0                   0.888636
                1                   0.111364
102             0                   1.000000
                                      ...
9999            0                   0.772727
                1                   0.227273
\N              0                   0.770115
                1                   0.229885
____            0                   1.000000
Name: Best Performance, Length: 92, dtype: float64

# GPA

In [24]:
df.columns

Index(['job_level', 'job_duration_in_current_job_level', 'person_level',
       'job_duration_in_current_person_level',
       'job_duration_in_current_branch', 'Employee_type', 'Employee_status',
       'gender', 'age', 'marital_status_maried(Y/N)', 'number_of_dependences',
       'number_of_dependences (male)', 'number_of_dependences (female)',
       'Education_level', 'GPA', 'year_graduated',
       'job_duration_as_permanent_worker', 'job_duration_from_training',
       'branch_rotation', 'job_rotation', 'assign_of_otherposition',
       'annual leave', 'sick_leaves', 'Best Performance', 'Avg_achievement_%',
       'Last_achievement_%', 'Achievement_above_100%_during3quartal',
       'achievement_target_1', 'achievement_target_2', 'achievement_target_3'],
      dtype='object')

In [25]:
df['GPA'].value_counts()

0.00     3853
3.00      541
3.01      353
3.10      296
3.14      294
         ...
8.41        1
4.19        1
8.69        1
8.29        1
32.12       1
Name: GPA, Length: 241, dtype: int64

In [36]:
df[(df['GPA']>=0) & (df['GPA']<=4)]['GPA']

0        2.32
1        3.25
2        3.23
3        0.00
6        3.65
         ...
21999    3.12
22000    2.84
22001    3.28
22002    3.10
22003    3.69
Name: GPA, Length: 18437, dtype: float64

In [ ]:
df[(df['GPA']>=0) & (df['GPA']<=4)]['GPA']

In [95]:
def gpa(x):
    if not (x>=0 and x <= 4):
        return 'invalid'
    else:
        return x

In [100]:
df['GPA']

0        2.32
1        3.25
2        3.23
3        0.00
4         NaN
         ...
22000    2.84
22001    3.28
22002    3.10
22003    3.69
22004     NaN
Name: GPA, Length: 22005, dtype: float64

In [99]:
df['GPA'].apply(gpa)

0           2.32
1           3.25
2           3.23
3              0
4        invalid
          ...
22000       2.84
22001       3.28
22002        3.1
22003       3.69
22004    invalid
Name: GPA, Length: 22005, dtype: object

In [101]:
df['GPA'].apply(gpa).value_counts()

0.0        3853
invalid    3568
3.0         541
3.01        353
3.1         296
           ...
2.27          1
2.49          1
2.56          1
2.05          1
2.2           1
Name: GPA, Length: 177, dtype: int64

In [102]:
df.groupby(['Education_level'])['GPA'].mean()

Education_level
level_0    0.428750
level_1    4.942865
level_2    2.011250
level_3    2.703884
level_4    3.017061
level_5    8.786406
Name: GPA, dtype: float64

# Job Level

In [48]:
df['job_level'].value_counts()

JG04    19158
JG03     1990
JG05      850
JG06        7
Name: job_level, dtype: int64

In [105]:
df.groupby(['job_level'])['Best Performance'].value_counts(normalize=True)

job_level  Best Performance
JG03       0                   0.993467
           1                   0.006533
JG04       0                   0.868097
           1                   0.131903
JG05       0                   0.849412
           1                   0.150588
JG06       0                   1.000000
Name: Best Performance, dtype: float64

# Person Level

In [49]:
df['person_level'].value_counts()

PG03    18342
PG01     1946
PG04      807
PG06      478
PG05      364
PG02       41
PG07       24
PG08        3
Name: person_level, dtype: int64

In [54]:
df['person_level'].isnull().sum()

0

In [104]:
df.groupby(['person_level'])['Best Performance'].value_counts(normalize=True)

person_level  Best Performance
PG01          0                   0.995375
              1                   0.004625
PG02          0                   0.902439
              1                   0.097561
PG03          0                   0.868771
              1                   0.131229
PG04          0                   0.852540
              1                   0.147460
PG05          0                   0.873626
              1                   0.126374
PG06          0                   0.836820
              1                   0.163180
PG07          0                   0.833333
              1                   0.166667
PG08          0                   0.666667
              1                   0.333333
Name: Best Performance, dtype: float64

# Education Level

In [53]:
df['Education_level'].value_counts()

level_4    15313
level_3     2804
level_1      192
level_5       64
level_0       16
level_2        8
Name: Education_level, dtype: int64

In [55]:
df['Education_level'].isnull().sum()

3608

In [103]:
df.groupby(['Education_level'])['Best Performance'].value_counts(normalize=True)

Education_level  Best Performance
level_0          0                   0.937500
                 1                   0.062500
level_1          0                   0.822917
                 1                   0.177083
level_2          0                   1.000000
level_3          0                   0.884807
                 1                   0.115193
level_4          0                   0.885914
                 1                   0.114086
level_5          0                   0.843750
                 1                   0.156250
Name: Best Performance, dtype: float64