# Importing Library

In [1]:
from zipfile import ZipFile
import pandas as pd

# Read Dataset

In [2]:
# specifying the zip file name 
file_name = "bri-data-hackathon-people-analytic.zip"
  
# opening the zip file in READ mode 
with ZipFile(file_name, 'r') as zip: 
    print(zip.printdir())
    sample_submission = pd.read_csv(zip.open('sample_submission.csv'))
    test = pd.read_csv(zip.open('test.csv'))
    train = pd.read_csv(zip.open('train.csv'))

File Name                                             Modified             Size
sample_submission.csv                          2020-11-30 06:59:32        40913
test.csv                                       2020-11-30 06:59:32       969444
train.csv                                      2020-11-30 06:59:32      3147443
None

# EDA

In [3]:
print(train.shape)
train.head()

(22005, 30)

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,Employee_status,gender,age,marital_status_maried(Y/N),...,assign_of_otherposition,annual leave,sick_leaves,Best Performance,Avg_achievement_%,Last_achievement_%,Achievement_above_100%_during3quartal,achievement_target_1,achievement_target_2,achievement_target_3
0,JG05,8.00,PG06,8.00,0.50,RM_type_A,Permanent,Female,1964,Y,...,0,8,0,0,68.85,72.53,0.0,achiev_50%-100%,achiev_< 50%,reached
1,JG04,5.17,PG04,2.00,1.25,RM_type_A,Permanent,Male,1979,Y,...,9,3,0,0,94.81,101.13,3.0,achiev_50%-100%,achiev_50%-100%,reached
2,JG04,1.83,PG03,1.83,1.50,RM_type_A,Permanent,Male,1980,Y,...,0,6,0,0,72.82,71.30,0.0,achiev_100%-150%,achiev_< 50%,not_reached
3,JG04,7.92,PG04,4.00,0.17,RM_type_A,Permanent,Male,1984,Y,...,0,3,0,0,86.89,90.09,2.0,achiev_50%-100%,achiev_50%-100%,not_reached
4,JG04,1.83,PG03,1.83,2.08,RM_type_A,Permanent,Male,1984,Y,...,11,2,1,1,95.17,100.72,2.0,achiev_< 50%,achiev_> 1.5,not_reached

In [4]:
print(test.shape)
test.head()

(6000, 29)

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,Employee_status,gender,age,marital_status_maried(Y/N),...,job_rotation,assign_of_otherposition,annual leave,sick_leaves,Avg_achievement_%,Last_achievement_%,Achievement_above_100%_during3quartal,achievement_target_1,achievement_target_2,achievement_target_3
0,JG05,1.42,PG05,1.42,0.5,RM_type_C,Permanent,Female,1983,Y,...,9,1,3,1,79.506667,94.17,1.0,achiev_50%-100%,achiev_< 50%,reached
1,JG04,1.58,PG03,1.58,2.0,RM_type_A,Permanent,Male,1988,N,...,2,2,4,1,54.283333,42.97,0.0,Pencapaian < 50%,Pencapaian < 50%,reached
2,JG04,1.83,PG03,1.83,1.5,RM_type_A,Permanent,Male,1988,Y,...,2,0,2,0,43.016667,44.28,0.0,achiev_50%-100%,achiev_< 50%,reached
3,JG05,8.00,PG06,5.00,1.5,RM_type_A,Permanent,Male,1973,Y,...,5,11,3,0,74.390000,80.93,0.0,Pencapaian 50%-100%,Pencapaian < 50%,not reached
4,JG04,1.92,PG03,1.92,0.5,RM_type_A,Permanent,Female,1985,Y,...,3,0,3,0,106.376667,109.09,3.0,Pencapaian 50%-100%,Pencapaian > 1.5,reached

In [5]:
train['Best Performance'].value_counts()

0    19337
1     2668
Name: Best Performance, dtype: int64

In [6]:
train['Best Performance'].value_counts(normalize=True)

0    0.878755
1    0.121245
Name: Best Performance, dtype: float64

# Baseline

In [7]:
train_copy = train.copy()
train_copy.drop(['Best Performance'],axis = 1,inplace = True)
train_copy = train_copy.select_dtypes('number')
train_copy.fillna(0,inplace=True)

In [8]:
X ,y = [train_copy,train['Best Performance']]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,stratify = y, random_state = 123)

In [36]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [37]:
y_pred = model.predict_proba(X_test)

In [38]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,y_pred[:,1])

0.5280511030679076

In [39]:
y_pred_binary = model.predict(X_test)

In [40]:
model.score(X_test,y_test)

0.7853680702817328

In [41]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_binary))

              precision    recall  f1-score   support

           0       0.89      0.87      0.88      5802
           1       0.16      0.19      0.18       800

    accuracy                           0.79      6602
   macro avg       0.53      0.53      0.53      6602
weighted avg       0.80      0.79      0.79      6602

In [42]:
test_copy = test.copy()
# train_copy.drop(['Best Performance'],axis = 1,inplace = True)
test_copy = test_copy.select_dtypes('number')
test_copy.fillna(0,inplace=True)

In [43]:
sample_submission

      index  Best Performance
0         0                 0
1         1                 0
2         2                 0
3         3                 0
4         4                 0
...     ...               ...
5995   5995                 0
5996   5996                 0
5997   5997                 0
5998   5998                 0
5999   5999                 0

[6000 rows x 2 columns]

In [51]:
def submission(model,test):
    return pd.DataFrame(model.predict_proba(test_copy)[:,1],
                        columns=['Best Performance']).reset_index()

In [52]:
df_submission = submission(model,test_copy)
df_submission.to_csv('Baseline - Decision Tree.csv',index=False)

In [53]:
df_submission['Best Performance'].value_counts()

0.0    5038
1.0     962
Name: Best Performance, dtype: int64

In [50]:
df_submission

      index  Best Performance
0         0               0.0
1         1               0.0
2         2               0.0
3         3               0.0
4         4               0.0
...     ...               ...
5995   5995               0.0
5996   5996               0.0
5997   5997               0.0
5998   5998               0.0
5999   5999               0.0

[6000 rows x 2 columns]

In [56]:
model.feature_importances_.argmax()

16

In [57]:
X_train.columns[16]

'Last_achievement_%'